.container {
  width: 90%;
  height: 90%;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  //box-shadow: 6px 6px 8px 0px makerShadow;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  .label {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.week {
  display: flex;
  flex-grow: 1;
  .day {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 0.3em;
  }
}

.disabled {
  background-color: lightgray;
}
