.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 215, 222);
  padding: 0 2em;
}

.title {
}

.buttons {
  display: flex;
  align-items: center;
}

.logout {
  height: 40%;
  border-radius: 10%;
  background-color: white;
}

.logout:hover {
  background-color: rgb(255, 220, 226);
}
