.container {
  width: 90%;
  height: 90%;
  border: 1px solid lightgray;
  // border-radius: 1%;
  display: flex;
  flex-direction: column;
  // box-shadow: 6px 6px 8px 0px makerShadow;
}

.weekly_body {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // border-radius: 1%;
}
